* {
  margin: 0;
  padding: 0;
  background-color: #2c2c32;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  /* display: flex;
    justify-content: space-between; */
  padding: 10px 20%;
  background-color: #2c2c32;
  box-shadow: 0px 5px 5px #25252b; /* shadow */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* align-items: center; */
}
header .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar a {
  text-decoration: none;
}
.navlist{
display:none;
}

.header {
  font-size: 3.3rem;
  color: #ffffff;
  text-align: center;
}

.header:hover {
  text-decoration: underline;
}

.navlist a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5em;
  color: #aaaaad;
  transition: 0.1s;
}

.navlist a:hover {
  text-decoration: underline;
  color: white;
}

.nav li {
  list-style: none;
}

.wiptext {
  text-align: center;
  background-color: #25252b;
  color: white;
  padding-top: 10px;
  padding-bottom: 6px;
}

.wiptext p {
  background-color: #25252b;
  color: #b0b0b1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#output {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
}
.placeholder {
  text-align: center;
  padding-top: 15%;
  color: white;
}
.placeholder h1 {
  font-size: 3rem;
}
@media (max-width: 720px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .navlist {
    display: none;
  }

  .topbar p {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0;
    padding-right: 0;
  }
}
